<p><%= link_to "Home", participants_path %></p>

<h1>Patient Profile</h1>

<h2><%= "#{@participant.last_name}, #{@participant.first_name} #{@participant.middle_initial}" %></h2>

<h2><%= "Date of birth: #{@participant.date_of_birth.strftime("%B %-d, %Y")}" %></h2>

<h3><%= "Medical Record Number: #{@participant.medical_record_number}" %></h3>

<br>

<% if @interventions.count > 0 %>
	<table>
		<tr>
			<th class="column1">Intervention ID</th>
			<th>Intervention Group</th>
			<th>Nurse</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Hospitalizations</th>
			<th>ER Visits</th>
			<th>Outcome</th>
			<th>Update</th>
		</tr>

		<% @interventions.each do |intervention| %>
			<tr>
				<td><%= link_to intervention.id, participant_intervention_path(@participant.id, intervention.id) %></td>
				<td><%= intervention.group %></td>
				<td><%= intervention.nurse %></td>
				<td><%= intervention.intervention_start_date.strftime("%B %-d, %Y") %></td>
				<td><%= intervention.intervention_end_date %></td>
				<td><%= link_to @hospital_visits.where(intervention_id: intervention.id).count, participant_intervention_path(params[:id], intervention.id) %></td>
				<td><%=  %></td>
				<td><%= intervention.outcome %></td>
				<td><%= link_to "Update", edit_participant_intervention_path(@participant.id, intervention.id) %></td>
			</tr>
		<% end %>

	</table>
<% else %>

<% end %>
<br>

<h3><%= link_to "Enroll in a new intervention", new_participant_intervention_path(params[:id]) %></h3>

<br>

<p><%= link_to "Edit profile", edit_participant_path %></p>

<br>
