<h1>New Emergency Room Visit</h1>

<br>

<%= form_for [@intervention, @er_visit] do |form| %>
  <p>
    <%= form.label :er_date, "ER vist date:" %>
    <%= form.date_field :er_date %>
  </p>

  <p>  
    <%= form.label :er_icd9_code, "ICD 9 Code:" %>
    <%= form.text_field :er_icd9_code %>
  </p>  
  
  <p>
    <%= form.label :er_icd9_detail, "ICD 9 detail:" %>
    <%= form.text_field :er_icd9_detail %>
  </p>

  <p>
    <%= form.label :er_cost, "Cost: $" %>
    <%= form.text_field :er_cost %>
  </p>

  <p>
    <%= form.label :er_notes, "Notes:" %>
    <%= form.text_area :er_notes %>
  </p>

  <p><%= form.submit "Submit" %></p>
<% end %>

<p><%= link_to "Cancel", recruitment_intervention_path(@intervention.recruitment_id, @intervention.id) %>