<div id="container">
	<h5><%= link_to "Home", recruits_path %></h5>

	<div class="one">
	<h3><%= "Intervention ID: #{@intervention.id}" %></h3>

	<h2>recruit: <%= link_to "#{@recruit.last_name}, #{@recruit.first_name}", recruit_path(@recruit.id) %></h2>

	<h3>MRN: <%= link_to "#{@recruit.medical_record_number}", recruit_path(@recruit) %></h3>


	<h4>Program: <%= @intervention.group %></h4>
	<h4>Nurse: <%= @intervention.nurse %></h4>
	</div>

	<div class="two">
		<h4>Intervention Start Date: <%= @intervention.intervention_start_date %></h4>
		<h4>Intervention End Date: <%= @intervention.intervention_end_date %> <%= link_to "Update", edit_recruit_intervention_path(@recruit.id, @intervention.id %></h4>
	</div>
	
	<br>

	<div class="table">
		<table>
			<tr>
				<th colspan="7">Hospital Visits</th>
			</tr>
			
			<tr>
				<th class="hosp">#</th>
				<th class="hosp">Admission Date</th>
				<th class="hosp">Discharge Date</th>
				<th class="hosp">ICD 9 Code</th>
				<th class="hosp">ICD 9 Detail</th>
				<th class="hosp">Cost</th>
				<th class="hosp">Edit</th>
			</tr>

			<% count = 1 %>

			<% @hospital_visits.order("admission_date").each do |hospital_visit| %>
				<tr>
					<td><%= link_to "H#{count}", intervention_hospital_visit_path(@intervention, hospital_visit) %></td>
					
					<% count += 1 %>
					
					<td><%= link_to hospital_visit[:admission_date], intervention_hospital_visit_path(@intervention, hospital_visit) %></td>
					<td><%= hospital_visit[:discharge_date] %></td>
					<td><%= hospital_visit[:icd9_code] %></td>
					<td><%= hospital_visit[:icd9_detail] %></td>
					<td><%= hospital_visit[:cost] %></td>
					<td><%= link_to "Update", edit_intervention_hospital_visit_path(@intervention, hospital_visit) %></td>
				</tr>
			<% end %>
		</table>

		<p><%= link_to "+ Add hospital visit", new_intervention_hospital_visit_path(@intervention) %></p>

		<br>

		<table>
			<tr>ER Visits</tr>

			<tr>
				<th class="er">#</th>
				<th class="er">ER Visit Date</th>
				<th class="er">ICD 9 Code</th>
				<th class="er">ICD 9 Detail</th>
				<th class="er">Cost</th>
				<th class="er">Notes</th>
				<th class="er">Edit</th>
			</tr>

		<% count = 1 %>
		<% @er_visits.order("er_date").each do |er_visit| %>
			<tr>
				<td><%= "ER#{count}" %></td>

				<% count += 1 %>

				<td><%= link_to er_visit[:er_date], intervention_er_visit_path(@intervention, er_visit) %></td>
				<td><%= er_visit[:er_icd9_code] %></td>
				<td><%= er_visit[:er_icd9_detail] %></td>
				<td><%= er_visit[:er_cost] %></td>
				<td><%= er_visit[:er_notes] %></td>
				<td><%= link_to "Update", edit_intervention_er_visit_path(@intervention, er_visit) %></td>
			</tr>
		<% end %>
		</table>

		<p><%= link_to "+ Add emergency room (ER) visit", new_intervention_er_visit_path(@intervention) %></p>
	</div>
	
	<br>
	<br>

	<h5><%= link_to "<< Back to #{@recruit.first_name}'s profile", recruit_path(@recruit) %></h5>
</div>