<div id="container">
	<div class="nav">
		<ul class="nav">
			<li><%= link_to "Summary", 'interventions/summary', class: "nav" %></li>
			<li><%= link_to "Patient List", recruits_path, class: "nav-selected" %></li>
			<li><%= link_to "Recruitments", recruitments_path, class: "nav"  %></li>
		</ul>
	</div>

	<div class="one">
		<h1>Recruits</h1>
	</div>

	<div class="two">
		
		<br>
		
		<p><%= link_to "+ Add new recruit", new_recruit_path, class: "add" %></p>
		
		<br>
		
		<table>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Middle Initial</th>
				<th>Sex</th>
				<th>Date of Birth</th>
				<th>Medical Record Number</th>
			</tr>

			<% @recruits.order("last_name").each do |recruit| %>
				<tr>
					<td class="string"><%= link_to recruit.last_name, recruit_path(recruit.id) %></td>
					<td class="string"><%= link_to recruit.first_name, recruit_path(recruit.id) %></td>					
					<td class="string"><%= link_to recruit.middle_initial, recruit_path(recruit.id) %></td>					
					<td class="string"><%= recruit.sex %></td>
					<td><%= link_to "#{recruit.date_of_birth}", recruit_path(recruit.id) %></td>
					<td><%= link_to "#{recruit.medical_record_number}", recruit_path(recruit.id) %></td>
				</tr>
			<% end %>
		</table>

		<br>
		<br>

	</div>
</div>