<div id="container" class="form">

  <div class="one">
    <h1>New Recruit Form</h1>
  </div>

  <div class="two">
    <%= form_for @recruit do |form| %>
      <%#= form.error_messages_for :medical_record_number %>
      <p>
        <%= form.label :first_name, "First name:" %>
        <%= form.text_field :first_name %>
      </p>

      <p>
        <%= form.label :middle_initial, "Middle initial(s):" %>
        <%= form.text_field :middle_initial %>
      </p>  

      <p>
        <%= form.label :last_name, "Last name:" %>
        <%= form.text_field :last_name %>
      </p>

      <p>  
        <%= form.label :medical_record_number, "Medical Record Number:" %>
        <%= form.text_field :medical_record_number %>
      </p>  
      
      <p>
        <%= form.label :date_of_birth, "Date of birth:" %>
        <%= form.date_field :date_of_birth %>
      </p>

      <p>
        <%= form.label :sex, "Sex:" %>
        <%= form.select(:sex, options_for_select(@sex_options), {:prompt => "Select sex"}) %>
      </p>

      <p><%= form.submit "Submit" %></p>
    <% end %>
  </div>
</div>