<div id="container">
	<p><%= link_to "Home", recruits_path %></p>

	<div class="one">
		<h1>Patient Profile</h1>

		<h2><%= "#{@recruit.last_name}, #{@recruit.first_name} #{@recruit.middle_initial}" %></h2>

		<h3><%= "Date of birth: #{@recruit.date_of_birth.strftime("%B %-d, %Y")}" %></h3>

		<h3 class="underline"><%= "Age as of today: #{current_age(@recruit.date_of_birth)}" %></h3>

		<h3><u><%= "Medical Record Number"%></u><%= ": #{@recruit.medical_record_number}" %></h3>

		<br>

		<p><%= link_to "Edit profile", edit_recruit_path %></p>

	</div>

	<div class="two">
		<h3><%= link_to "+ Add recruitment", new_recruit_recruitment_path(params[:id]) %></h3>

		<table>
			<tr>
				<th>Number</th>
				<th>Date</th>
				<th>Account Number</th>
			</tr>
			<% count = 1 %>
			<% if @recruitments.count > 0%>
				<% @recruitments.each do |recruitment| %>
					<tr>
						<td><%= link_to count, recruit_recruitment_path(@recruit, recruitment.id) %></td>
						<td><%= link_to recruitment.admission_date, recruit_recruitment_path(@recruit, recruitment.id) %></td>
						<td><%= link_to recruitment.account_number, recruit_recruitment_path(@recruit, recruitment.id) %></td>
					</tr>
					<% count += 1%>
				<% end %>

			<% end %>
		</table>

		<br>
		<br>

		<h2>Interventions</h2>

		<% if @interventions.count > 0 %>
			<table>
				<tr>
					<th class="column1">Intervention ID</th>
					<th>Intervention Group</th>
					<th>Nurse</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Hospitalizations</th>
					<th>ER Visits</th>
					<th>Outcome</th>
					<th>Update</th>
				</tr>

				<% @interventions.each do |intervention| %>
					<tr>
						<td><%= link_to intervention.id, recruitment_intervention_path(intervention.recruitment_id, intervention.id) %></td>
						<td><%=  %></td>
						<td><%= intervention.nurse %></td>
						<td><%#= intervention.intervention_start_date.try.strftime("%B %-d, %Y") %></td>
						<td><%#= intervention.intervention_end_date %></td>
						<td><%= link_to @hospital_visits.where(intervention_id: intervention.id).count, recruit_intervention_path(params[:id], intervention.id) %></td>
						<td><%= link_to @er_visits.where(intervention_id: intervention.id).count, recruit_intervention_path(params[:id], intervention.id) %></td>
						<td><%= intervention.outcome %></td>
						<td><%= link_to "Update", edit_recruitment_intervention_path(intervention.recruitment_id, intervention.id) %></td>
					</tr>
				<% end %>
			</table>
		<% else %>

		<% end %>

		<br>

	</div>
</div>