
<div class="one">
  <h1>Update Hospital Visit</h1>
</div>

<br>

<%= form_for [@intervention, @hospital_visit] do |form| %>
  <p>
    <%= form.label :admission_date, "Admission date:" %>
    <%= form.date_field :admission_date %>
  </p>
  
  <p>
    <%= form.label :discharge_date, "Discharge date:" %>
    <%= form.date_field :discharge_date %>
  </p>

  <p>  
    <%= form.label :icd9_code, "ICD 9 Code:" %>
    <%= form.text_field :icd9_code %>
  </p>  
  
  <p>
    <%= form.label :icd9_detail, "ICD 9 detail:" %>
    <%= form.text_field :icd9_detail %>
  </p>

  <p>
    <%= form.label :cost, "Cost: $" %>
    <%= form.text_field :cost %>
  </p>

  <p><%= form.submit "Update" %></p>
<% end %>

<div style=width:150px>
  <div style=float:left><p><%= link_to "Cancel", recruitment_intervention_path(@recruitment, @intervention), class: "edit" %></p></div>

  <div style=float:left><br></div>

  <div style=float:right><p><%= link_to "Delete", intervention_hospital_visit_path(@intervention, @hospital_visit), class: "edit", method: :delete, data: { confirm: "Are you sure you want to delete this Hospital Visit?"} %></p></div>
</div>