<h1><%= "Hospital Visit ID: #{@hospital_visit.id}" %></h1>

<h2><%= @hospital_visit.admission_date %><h2>


<h2><%= @hospital_visit.discharge_date %></h2>

<h4><%= @hospital_visit.icd9_code %></h4>

<h4><%= @hospital_visit.icd9_detail %></h4>